.noOverflow
{
    word-wrap:break-word;
}

/*Carousel CSS*/
.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity:0.5;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}
/*Media Queries*/
/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 1200px)
{
    .carousel1Image
    {
        width: 400px;
    }

    .carousel2Image
    {
        width: 400px;
    }

    .carousel3Image
    {
        width: 400px;
    }
}

/* Smartphones */
@media only screen and (min-width: 150px) and (max-width: 481px)
{
    .carousel1Image
    {
        width: 220px;
    }

    .carousel2Image
    {
        width: 220px;
    }

    .carousel3Image
    {
        width: 220px;
    }

    .description
    {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 800px)
{
    #carousel1
    {
        display: none;
    }
}


@media only screen and (min-width: 801px) and (max-width: 2000px)
{
    #navbar
    {
        display: none;
    }

    .socialLogin
    {
        display: none;
    }
}

/*Logo Fading Style*/
#logo {
    font-size: 25px;
    font-family: "segoe UI";
}
.letter {
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    text-shadow: 0px 0px 1px grey;
    float: left;
}
.letter:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;
    text-shadow: 1px 1px 1px green;
    color: green
}
.letter:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;
}
.letter:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;
}
.letter:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;
}
.letter:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;
}
.letter:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;
}
.letter:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;
}

.letter:nth-child(8) {
    -webkit-animation: fade 4s infinite 1600ms;
    animation: fade 4s infinite 1600ms;
}

#logo2 {
    font-size: 40px;
    font-family: "segoe UI";
    color: #a9a9a9;
    text-align: center;
}
.letter2 {
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    text-shadow: 0px 0px 1px grey;
    float: left;
}
.letter2:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;
    text-shadow: 1px 1px 1px green;
    color: green
}
.letter2:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;
}
.letter2:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;
}
.letter2:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;
}
.letter2:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;
}
.letter2:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;
}
.letter2:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;
}

.letter2:nth-child(8) {
    -webkit-animation: fade 4s infinite 1600ms;
    animation: fade 4s infinite 1600ms;
}



#logo3 {
    font-size: 60px;
    font-family: "segoe UI";
    color: #a9a9a9;
    text-align: center;
}
.letter3 {
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    text-shadow: 0px 0px 1px grey;
    float: left;
}
.letter3:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;
    text-shadow: 1px 1px 1px green;
    color: green
}
.letter3:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;
}
.letter3:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;
}
.letter3:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;
}
.letter3:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;
}
.letter3:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;
}
.letter3:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;
}

.letter3:nth-child(8) {
    -webkit-animation: fade 4s infinite 1600ms;
    animation: fade 4s infinite 1600ms;
}

@-webkit-keyframes fade {
    25% {
        opacity: 0.2;
    }
}

@keyframes fade {
    25% {
        opacity: 0.2;
    }
}

body
{
    font-family: 'Segoe UI';
    height:100%
}

#navbar
{
    position: fixed;
    background-color: white;
    border: hidden
}

.logo
{
    cursor: context-menu
}

.tagline
{
    padding-left: 17px
}

.entryLinks
{
    text-decoration: none;
    color: #999;
    cursor: pointer
}

.noPadding
{
    padding: 0px;
}

.navLinks
{
    text-decoration: none;
    color: #999
}

.lastNavLinks
{
    padding-left: 5px;
}

#headers
{
    padding: 15px
}

.three
{
    cursor: pointer;
}

.genderError
{
    color: #a94442;
}

#take-a-tour
{
    font-size: 20px;
    cursor: pointer;
    color: darkgreen;
}

#take-a-tour:hover
{
    text-decoration: underline;
    color: green;
}

#tour-body
{
    display: none;
}

#main-tour-body
{
    display: none;
}

#backtotop
{
    display: none;
    position: fixed;
    top: 20px;
    margin-left: 49%;
    z-index: 99999;
}

.sessions
{
    text-align: center
}

#information
{
    min-height: 100px;
    padding: 0px
}

#aboutBBarters
{
    font-family: 'Segoe UI';
    font-size: 14px
}

#ifc
{
    cursor: pointer;
}

#createData
{
    font-family: 'Segoe UI';
    font-size: 14px;
    display: none;
}

#convergeData
{
    font-family: 'Segoe UI';
    font-size: 14px;
    display: none;
}

#carousel2
{
    padding-left: 5px;
    padding-right: 5px;
}

#back-image
{
    position: absolute;
    height: 100%;
    width: 100%
}

#exitTour
{
    background-color: darkred;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    left: 47.5%;
    display: none;
    border: 0px;
    border-radius: 2px 2px 0px 0px;
}

#takeBBartersQuiz
{
    background-color: #002166;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    left: 57.5%;
    display: none;
    border: 0px;
    border-radius: 2px 2px 0px 0px;
}

#backtotop-button
{
    color: #000000;
}

#BBarters
{
    margin-top: 20%;
    margin-left: 40%;
    display: none;
    position: absolute;
    text-align: center;
}

.bottom-boxes
{
    padding-left: 25px;
}

#regular-login
{
    text-align: center;
    color: #3a5a97;
    text-decoration: underline;
    font-family: Arial;
    font-weight: 700;
    cursor: pointer;
}

#converge-list
{
    padding-left: 20px;
}