.noPad
{
    padding: 0px;
}

#liveFeed
{

}
.chatbar
{
    padding: 10px;
    outline:none;
    resize: none;
}
.searchResult {
    color: white;
    background-color:whitesmoke;
    color: #000033;
}

.searchResult:hover
{
    color: white;
    background-color:#003163;
}

.filters
{
    color: #003300;
    font-size: 11px;
    font-family:"Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
}

