#chatIframe
{
    height:90%;
}

.chatbar
{
    padding: 10px;

    outline:none;
    resize: none;
}

/*CSS for view on Desktop*/
#notificationModal
{
    width: 30%;
    margin-top: 5%;
}


#chatNameHolder
{
    height: 10%
}

/*Style for view on smartphones*/
@media only screen and (min-width: 100px) and (max-width: 500px) {
    #notificationModal
    {
        width: 60%;
        margin-top: 10%;
    }
    #availablePeopleBPopup
    {
        width: 90%;
    }
    #chatBPopup
    {
        width: 90%;
    }
    #chatNameHolder
    {
        height: 15%;
    }
}

/*Style for view on tablets*/
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    #availablePeopleBPopup
    {
        width: 50%;
    }
    #chatNameHolder
    {
        height: 15%;
    }
}

/*.chats
{
    padding: 10px;
    background-color: darkorange;
    color: #ffffff;
    width: 150px;
    text-align: center;
    cursor: pointer;
}*/

#chatSearchModal
{
    background-color: #ffffff;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
    z-index: 1;
    background-color: #f5f5f5;
    display: none;
}
#chatSearch
{
    width: 200px;
    margin-top: 6px;
    height: 25px;
}
#chatSearchResultsModal
{
    width: 200px;
}