.noPad
{
    padding: 0px;
}

.searchResult {
    color: white;
    background-color:whitesmoke;
    color: #000033;
}

.searchResult:hover
{
    color: white;
    background-color:#003163;
}

#clubDiv
{
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
}
#smallDiv
{
    margin-top: 200px;
}
#ActionCentre
{
    border-left: 1px solid #f0f0f0;
}

.subTitle
{
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
    font-size:medium;
    text-align: center;
    margin-top: 20px;
}

#playersModal
{
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
}