.noPad
{
    padding: 0px;
}

.tLogo
{
    width: 100px;
    height: 100px;
}

#smallDiv
{
    margin-top: 200px;
}
#ActionCentre
{
    border-left: 1px solid #f0f0f0;
}

.searchResult
{
    color: white;
    background-color:whitesmoke;
    color: #000033;
}

.searchResult:hover
{
    color: white;
    background-color:#003163;
}

.friendPredict
{
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;

}
